@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
.header{
    width: 100%;
    height: 90px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
.logo-line{
    width: 1017px;
    display: flex;
    align-items: center;
    gap: 60px;
ul{display: flex;
align-items: center;
font-size: 13px;
list-style: none;
font-weight: 700;
gap: 40px;
}
li:hover{color: #9cc25d;
cursor: pointer;}
}

 .header-control{
    display: flex;
    width:462px;
    align-items: center;
    justify-content: right;
    gap: 20px;
    .lang,.money{
        width: 86px;
       
        font-size: 14px;
    i{font-size: 11px;
    margin-left: 5px;}
    img{margin-right: 5px;}
    }
    .lang:hover{color:#9cc25d;}
    .money{
        width: 45px; 
    }
    .money:hover{
        color: #868686;
    }
i{font-size: 20px;}
i:hover{
    cursor: pointer;
    color: #9cc25d;
}
sup{ border: solid 1px #9cc25d;
border-radius: 50%;
padding:6px 8px 4px;
background-color: #9cc25d;
color: #fff;
font-size: 14px;
margin-bottom: 25px;}
}
}
.img{
    width: 100%;
    height: 344px;
    background-image: url(image/banner-for-all2.jpg);
    background-size: cover;
}
.banner-wrapper{
    height: 142px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
h1{font-size: 40px;
margin: 12px 0px 5px;
font-weight: 600;
}
.line{
    width: 60px;
    height: 2px;
    background-color: #9cc25d;
    margin-bottom: 15px;
}
.trial{
  display: flex;  
  gap: 10px;
  align-items: center;
  font-weight: 600;
 #dif{color: #868686;} 
}
}
.main-container{
    width: 100%;
    height: 2000px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
.m-con-left{
    width: 300px;
    height: 1863px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
.input{
    width: 270px;
    height: 46px;
    display: flex;
input{
    height: 46px;
    width: 210px;
    padding: 10px;
    border: none;
}
button{
    width: 60px;
    height: 46px;
    background-color: black;
i{color: #fff;
font-size: 18px;}
}
}
h2{
    font-size: 15px;
    position: relative;
    padding-bottom: 15px;
}
h2::before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    border-bottom: 1px solid #9cc25d;
    width: 50px;
}
.price-line{
    width: 270px;
    height: 5px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
span{
    width: 15px;
    height: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    display: block;
    background-color: #fff;
}

.center-line{
    width: 179px;
    height: 5px;
    background-color: #9cc25d;
}
}
.price-slider{
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 40px;
.from,.from-dif{
    height: 100%;
    width: 75px;
    background-color: #000;
    color: #fff;
    padding:  13px 17px;
}
.from-dif{background-color: #9cc25d;
    padding:  13px;}
}
.checker,.checker-copy{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.check-line{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
.fa-circle{color: #000;
    opacity: 1;
}
.fa-circle-check{
    position: absolute;
    left: 0px;
}
.left:hover{
.fa-circle{opacity:0.5;
cursor: pointer;}
span{color: #9cc25d;}
}
.right{
    color: #868686;
}
}
}
.checker-copy{
.left{
.fa-circle{color: #dfdede;
}
}
.left:hover{
 span{color: #9cc25d;}
        }
    
}

.m-con-right{
    width: 900px;
    height: 1863px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
.line-1{
    display: flex;
    justify-content: space-between;
.box{
    gap: 10px;
    display: flex;
}
.box-1,.box-2{
    width: 46px;
    height: 46px;
    background-color: #9cc25d;
    padding: 12px;
i{color: #fff;
font-size: 20px;}
}
.box-2{background-color: #f0f0f0;
i{color: #868686;}}
.box-2:hover{background-color: #9cc25d;
cursor: pointer;
i{color: #fff;}}
.selector{
    display: flex;
    gap: 10px;
select{
    width: 223px;
    height: 46px;
    border: none;
    border: 1px solid #f0f0f0;
    color: #868686;
    padding: 10px;
}
#dif{width: 120px;}
}
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product-1{
    width: 270px;
    height: 350px;
    position: relative;
img{border-radius: 8px;}
.onnew{
    background-color: #ecb02f;
    color: #fff;
    display: block;
    font-size: 11px;
    height: 21px;
    font-weight: 700;
    position: relative;
    min-width: 50px;
    text-align: center;
    padding-top: 5px;
}
.green-icons{
    position: absolute;
    width: 50px;
    opacity: 1;
    height: 200px;
    bottom: 150px;
    right: -10px;
    opacity: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition:0.5s;
   
.fa-heart,.fa-repeat,.fa-magnifying-glass,.fa-cart-shopping{
    font-size: 17px;
    border: solid 1px #9cc25d;
    border-radius: 50%;
    padding: 9px;
    background-color: #9cc25d;
    transition:0.5s;
}
i:hover{background-color: #000;
cursor: pointer;}
}
.new{position: absolute;
   left: 20px;
   top:20px;
width: 50px;}
.onnew::before{
    border-color: #ecb02f transparent #ecb02f transparent;
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-style: solid;
    border-width: 11px 13px 11px 0;
}

.prd-info{
    width: 268px;
    height: 109px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
   line-height: 20px;
.fa-star{color:#cfcfcf;
font-size: 15px;
}
h3{font-size: 16px;}
h3:hover{color: #9cc25d;
cursor: pointer;}
span{font-size: 14px;
color: #9cc25d;
 font-weight: 600;}
}
}
.product-1:hover{
    .green-icons{
     opacity: 1;
    right: 10px;
    }
}
.line-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
.left-boxs{
    display: flex;
    gap: 10px;
}
 .box1{
    width: 43px;
    height: 43px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 15px 18px;
 }  
.box2{
    width: 43px;
    height: 43px;
    background-color:transparent; 
    color: #000;
    font-size: 16px;
    padding: 15px 16px;
    border: 1px solid #000;
} 
.box2:hover{
    background-color: #000;
    color: #fff;
}
.right-box{
    width: 232px;
    height: 46px;
    border: 1px solid #e4e4e4;
    padding: 17px;
    color: #868686;
}
}
}

}
.section-09{
    height: 342px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
h3{
    font-size: 14px;
    color: #9cc25d;
    letter-spacing: 0.2em;
    margin-bottom: 5px;
}
h4{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}
p{
    font-size: 16px;
    color: #868686;
    letter-spacing: 0.05em;
    width: 480px;
    text-align: center; 
    margin-bottom: 22px;
    line-height: 1.5;
}
.intp{  width: 570px;
display: flex;
}
input{
    width: 430px;
    height: 50px;
    padding: 0px 145px 0px 20px;
    background-color: #fff;
    border: none;
    border: solid 1px #f4f4f4;
    
} 
button{
    width: 140px;
    height: 50px;
    background-color: #000;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 700;
    border: none;
    transition: 700ms;
}
button:hover{
background-color: #9cc25d;
}

}
.footer{
    width: 100%;
    height: 84px;
    padding: 10px 0px;
    background-color: #f4f4f4;
    border-top: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-around;
p{width: 570px;
font-size: 16px;
color: #868686;}
.social-m{
    width: 500px;
    display: flex;
    gap: 20px;
    justify-content: right;
.fb{
    width: 46px;
    height: 46px;
    background-color: #000;
    padding:15px 16px;

i{color: #fff;}
}
.fb:hover{background-color: #9cc25d;}
}
}
